
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AaronLocker/.vs/*
library/AaronLocker/AaronLocker/bin/*
library/AaronLocker/AaronLocker/obj/*

# ignore PowerShell Studio MetaData
AaronLocker/AaronLocker.psproj
AaronLocker/AaronLocker.psproj.bak
AaronLocker/AaronLocker.psprojs
AaronLocker/AaronLocker.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*